.chore-card > .mdl-card__title {
    color: #000;
    height: 176px;
    background: url('https://images.pexels.com/photos/1234853/pexels-photo-1234853.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260') center / cover;
}